# Database
src/main/resources/db/db.properties

# Compiled output
/bin/
/build/
/out/
*.class

# IDE-specific files
.idea
.idea/  
.vscode/
.project
.classpath 
.settings/ 
*.launch
*.iml
*.ipr
*.iws

# Maven/Gradle specific files
/target/
.gradle/
build/  
*.jar
*.war
*.ear
*.zip
*.tar.gz

# Operating System files
.DS_Store
Thumbs.db

# Log files
*.log

# Local configuration files
local.properties